@model PaperPlanner_Application.Models.User

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_AlertMessages")

<h2>Details User</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        @{
            if (@Html.DisplayFor(model => model.updatedDate) != null && @Html.DisplayFor(model => model.updatedDate).ToString() != "")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.updatedDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.updatedDate)
                </dd>
            }
            else
            {

            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
</p>

@Html.Partial("_AlertScript")