@model IEnumerable<PaperPlanner_Application.Models.User>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_AlertMessages")

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
                @Html.ActionLink("Details", "Details", new { id = item.userID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.userID })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", "User", null, new { @class = "btn btn-primary" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@Html.Partial("_AlertScript")