@model PaperPlanner_Application.Models.Question

@{
    ViewBag.Title = "Create";
}

@Html.Partial("_AlertMessages")

<h2>Create Question</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mb-4">
            @Html.LabelFor(model => model.quesText, htmlAttributes: new { @class = "control-label form-label" })
            <span class="fw-bolder text-danger">*</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quesText, new { htmlAttributes = new { @class = "form-control", @required=true, @maxLength = 50 } })
                @Html.ValidationMessageFor(model => model.quesText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-4">
            @Html.LabelFor(model => model.quesOptions, htmlAttributes: new { @class = "control-label form-label" })
            <span class="fw-bolder text-danger">*</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quesOptions, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.quesOptions, "", new { @class = "text-danger" })
            </div>
            <small class="text-black-50 fst-italic">Example : option1,option2,option3</small>
        </div>

        <div class="form-group mb-4">
            @Html.LabelFor(model => model.quesAnswer, htmlAttributes: new { @class = "control-label form-label" })
            <span class="fw-bolder text-danger">*</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quesAnswer, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.quesAnswer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Back to Question Papers", "Index","QuestionPapers",null,new { @class = "btn btn-dark" })
                @Html.ActionLink("Back to Questions List of this Paper", "Index", new { id = Convert.ToInt32(TempData["questionPaperIDInCreate"]) }, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}


@Html.Partial("_AlertScript")